node_modules/
test-results/
playwright-report/
blob-report/
playwright/.cache/
.env
.env.*
.DS_Store

# Playwright
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
Codes_for_Test/
